<%- include("./partials/header") %>
<div class="container">
    <br/><br/><br/><br/>
    <a href="/addUser" class="btn btn-sm btn-primary">Add User</a><br/><br/>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>status</th>
        </tr>
      </thead>
      <tbody>
          <% user.forEach(function(user){ %>
              <tr>
                  <td><%= user.id %></td>
                  <td><%= user.email %></td>
                  <td><%= user.status %></td>
                  <td>
                      <a href="statusUpdate/<%= user.id %>" class="btn btn-sm btn-primary">Edit</a>
                      <a href="delete/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
                  </td>
              </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <%- include("./partials/footer") %>