<%- include("./partials/header") %>
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
   <div class="container">
  <h2><%= title %></h2>
  
  <!-- <a href="/add" class="btn btn-sm btn-primary">Add User</a><br/><br/> -->

    <!-- <div class="input-group">
      <label class="form-label" for="form1">Search  :</label>
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" name="str"/>
        
      </div>
      <button type="submit" class="btn">
        <a href="/search" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-search"></span> Search 
        </a>
      </button>
    </div> -->
    <div class="d-flex mb-auto">
      <input type="text" id="employee-search-input" data-id="namesearch">
      <button type="button" id="employee-search-button">Search</button>
      <!-- <div class="align-self-end ml-auto">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">
              <i class="far fa-plus-square"></i>
          </button>
      </div> -->
      
    </div>
    
    <table class="table table-dark table-striped">

      <thead>
        <tr>
          <th>emp_name</th>
          <th>emp_salary</th>
          <th>emp_city</th>
          <!-- <th>date</th> -->
          <th>action</th>
        </tr>
      </thead>
      <tbody>
          <% employee.forEach(function(emplo){ %>
              <tr>
                  <td><%= emplo.emp_name %></td>
                  <td><%= emplo.emp_salary %></td>
                  <td><%= emplo.emp_city %></td>
                  <!-- <td><%= emplo.date %></td> -->
                  <td>
                      <a href="edit/<%= emplo.id %>" class="btn btn-sm btn-primary">Edit</a>
                      <a href="delete/<%= emplo.id %>" class="btn btn-sm btn-danger">Delete</a>
                  </td>
              </tr>
          <% }); %>
      </tbody>
      
      
    </table>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <% if (pages > 0) { %>
            <ul class="navbar-nav">
                <% if (current == 1) { %>
                    <li class="disabled nav-item"><a class="nav-link disabled">First</a></li>
                <% } else { %>
                    <li><a class="nav-link "href="/index?page=1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled nav-item"><a class="nav-link disabled">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active nav-item"><a class="nav-link active"><%= i %></a></li>
                    <% } else { %>
                        <li><a class="nav-link " href="/index?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled nav-item"><a class="nav-link disabled">...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled nav-item"><a class="nav-link disabled">Last</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/index?page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
          <% } %>
      </div>
    </div>
  </nav>
    <script>
      $("#employee-search-button").click(function(){
        var str = $("#employee-search-input").val();

        var url = '/index?userName='+str;
        window.location.href = url;
        
      });
    
    </script>   

</div>
 </body>
 </html>
 <%- include("./partials/footer") %>
 